<div class="container">
  <div class="box">
    <div class="box">
      <div class="box">
        <div class="box">
          <div class="box">
            <div class="box">
              <div class="box">
                <div class="box">
                  <div class="wrapper">
                    <div class="words">
                      <span class="dot">.</span>
                      <span>This is a test Text for banner</span>
                      <span>This is a test Text for assignment</span>
                      <span>Every thing goes well when try hard</span>
                      <span>There is nothing that is not possible</span>
                      <span>Try your best result might be anything</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
